{% extends "main/base.html" %}
{% load static %}
  {% block title %}Home{% endblock title %}

  {% block pagecontent %}
    <p class="my-3 text-sm lg:text-lg">Ik ben Pieter, een ICT student bij het REA College in Arnhem. Op dit moment ben ik bezig met het leren van Python en Django, waar deze website ook mee gebouwd is.</p>

    <p class="my-3 text-sm lg:text-lg">Al sinds ik 16 was ben ik bezig geweest met programmeren, alhoewel op een lager niveau; met de taal Lua scripten en programmeren binnen de Roblox Engine. Dit heb ik een aantal jaar gedaan, waarna er een pauze volgde voor HAVO 4 (2020).</p>

    <p class="my-3 text-sm lg:text-lg">Sinds 2022 heb ik de draad weer opgepakt én het plezier in het programmeren en maken van software weer gevonden. Dingen maken waar mensen écht iets aan hebben of blij van worden geeft mij ongelofelijk veel voldoening.</p>

    <p class="my-3 text-sm lg:text-lg">Het maken van websites is leuk om erbij te doen, maar het liefst wil ik dieper in de back-end en softwaredevelopment duiken.</p>
  {% endblock pagecontent %}
</html>
